<a href="https://colab.research.google.com/github/susanna-susanna/pyda_homeworks/blob/master/numpy_3_%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

###Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
def films_class(param):
    """классифицирует фильмы из материалов занятия по следующим правилам:
        оценка 2 и меньше - низкий рейтинг
        оценка 4 и меньше - средний рейтинг
        оценка 4.5 и 5 - высокий рейтинг"""
    if param <= 2:
      return 'низкий рейтинг'
    elif param <= 4:
      return 'средний рейтинг'
    else:
      return 'высокий рейтинг'

In [ ]:
?films_class

In [ ]:
ratings['class'] = ratings['rating'].apply(films_class)
ratings.query('rating == 3').head()  #проверка)

    userId  movieId  rating   timestamp            class
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
25       2       52     3.0   835356031  средний рейтинг

In [ ]:
# ещё одна проверка))
high_class= ratings[ratings['rating'].isin([4, 4.5, 5])]
high_class

        userId  movieId  rating   timestamp            class
4            1     1172     4.0  1260759205  средний рейтинг
12           1     1953     4.0  1260759191  средний рейтинг
13           1     2105     4.0  1260759139  средний рейтинг
20           2       10     4.0   835355493  средний рейтинг
21           2       17     5.0   835355681  высокий рейтинг
...        ...      ...     ...         ...              ...
99995      671     5989     4.0  1064890625  средний рейтинг
99996      671     5991     4.5  1064245387  высокий рейтинг
99997      671     5995     4.0  1066793014  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг

[51568 rows x 5 columns]

###Задание 2
Используем файл **keywords.csv**.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
```
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
```
Результат классификации запишите в отдельный столбец region.

* В общем, в дф около 750 строк с запросами с городами, и на выходе получаем маркированные неодносложные запросы*
http://joxi.ru/vAW85ZEc3n1NPr

In [ ]:
keywords_only = pd.read_csv('keywords_only.csv')
keywords_only.head()

         keyword
0             вк
1  одноклассники
2          порно
3           ютуб
4      вконтакте

In [ ]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
# sities = keywords[keywords['keyword'].str.contains('москва|тула|ярославль|петербург|псков|мурманск|владивосток|сахалин|хабаровск', case=False)]['keyword'].unique()
sities = keywords[keywords['keyword'].str.contains('москва|тула|ярославль|петербург|псков|мурманск|владивосток|сахалин|хабаровск', case=False)]
sities

                                     keyword   shows
127                             авито москва  979292
370                 авито ру санкт петербург  425134
564                погода в санкт петербурге  292489
849                          авито ярославль  209581
1063                     фарпост владивосток  176951
...                                      ...     ...
99590  авито ярославль автомобили с пробегом    3673
99634   северпост новости мурманской области    3606
99808      полармед мурманск запись на прием    3719
99890                    яндекс метро москва    4548
99922                      авто ру ярославль    3712

[747 rows x 2 columns]

In [ ]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

нужно пройтись по ключам и значениям geo_data и во вложенном цикле пройтись по каждому значению == городу.
        значение-город нашёлся в keyword, то возвращаем ключ geo_data == регион.
ничего не нашёл **большой цикл**, то возвращает undefined

In [ ]:
def region_cities(param):
    """гео-классификатор, который каждой строке сможет выставить географическую 
    принадлежность определенному региону. 
    Т. е. если поисковый запрос содержит название города региона, 
    то в столбце ‘region’ пишется название этого региона. 
    Если поисковый запрос не содержит названия города, то ставим ‘undefined’."""

    for region, geo_values in geo_data.items():
        for city in geo_values:
            if city in param:
                return region
            # else:
            #     return 'undefined' #такой записью потеряла строки)) в итоге получила 284 строки в my_geo)) и только Центр
    
    return 'undefined'

Себе на заметку. Во втором задании блок
```
else:
    return 'undefined'
```
действительно даёт некорректный результат. Т. к. из-за него циклы

```
for region, geo_values in geo_data.items():
    for city in geo_values
```
всегда завершаются на первом шаге.

In [ ]:
keywords['region'] = keywords['keyword'].apply(region_cities)
keywords

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [ ]:
# проверяю, правильно ли))
my_geo = keywords[keywords['region'].isin(['Северо-Запад', 'Дальний Восток', 'Центр'])]
my_geo

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]

###Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл **movies.csv** и **ratings.csv** из базы https://grouplens.org/datasets/movielens/). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.


При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

  * для каждой строки пройдите по всем годам списка years

  * если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска

  * если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга


PS. все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [ ]:
import numpy as np

In [ ]:
years = np.arange(1950, 2011)

In [ ]:
years

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010])

In [ ]:
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [ ]:
#проверяю на всякий случай тип года, чтоб знать в каком типе возвращать 1900
for year in years:
  print(type(year))
  break

<class 'numpy.int64'>

In [ ]:
def production_year(film):
  #  *для каждой строки пройдите по всем годам списка years
  for year in years:
    #  *если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    if str(year) in film:
      return year
  
  # *если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
  return 1900

In [ ]:
movies['year'] = movies['title'].apply(production_year)
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [ ]:
all_info = movies.set_index('movieId').join(ratings.set_index('movieId'))	
all_info

,title,genres,year,userId,rating,timestamp
movieId,,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,7.0,3.0,8.518667e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,9.0,4.0,9.386292e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,13.0,5.0,1.331380e+09
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,15.0,2.0,9.979383e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,19.0,3.0,8.551901e+08
...,...,...,...,...,...,...
162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900,611.0,3.0,1.471524e+09
163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900,NaN,NaN,NaN
163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900,547.0,5.0,1.476419e+09
164977,The Gay Desperado (1936),Comedy,1900,NaN,NaN,NaN
164979,"Women of '69, Unboxed",Documentary,1900,NaN,NaN,NaN

In [ ]:
show_rat = all_info.groupby('year').mean('rating').sort_values(by="rating", ascending=False)
show_rat

          userId    rating     timestamp
year
1957  360.933544  4.014241  1.083707e+09
1972  359.694878  4.011136  1.122759e+09
1952  346.394737  4.000000  1.090512e+09
1954  358.228324  3.994220  1.070591e+09
1951  347.106996  3.983539  1.052714e+09
...          ...       ...           ...
2005  348.509719  3.448434  1.273459e+09
2003  340.186204  3.444777  1.238031e+09
1996  347.970249  3.426600  1.020020e+09
1997  357.747044  3.415764  1.085420e+09
2000  342.165228  3.356104  1.146331e+09

[62 rows x 3 columns]

#Полезные ссылки
[Python str() function](https://www.geeksforgeeks.org/python-str-function/)

https://www.programiz.com/

[Colab 1 с лекции_functions_and_rows](https://colab.research.google.com/drive/1oj1bdWhInTXuGFDCKxSXoqntlCsmycht)

[Colab 2 с лекции_functions_groupby (Пример: Анализ рекламных кампаний)](https://colab.research.google.com/drive/1PtPFRVKg3oxRbZH83rrV9XxHjyWK9bFn#scrollTo=Su1P2KZqYG30)

[Colab 3 с вебинара](https://colab.research.google.com/drive/1cvfCZLJMjb6P1vt6KCZqOvuUtafu_Zl-)

[pandas.DataFrame.join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html)

[Работа с .csv в pandas](https://pythonru.com/uroki/osnovy-pandas-1-chtenie-fajlov-dataframe-otbor-dannyh)